@font-face {
  font-family: corsivo;
  src: url("./fonts/corsivo.ttf");
}
@font-face {
  font-family: modern;
  src: url("./fonts/modern.ttf");
}
@font-face {
  font-family: lego;
  src: url("./fonts/lego.otf");
}

@body{
  margin: 0;
  padding: 0;
}

#sec1{
  padding: 3% 3% 20% 3%;
  background-image: url("./img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

#brand{
  font-family:corsivo;
  font-size:30px;
  margin-right:30%
}

.navlink{
  font-size:15px;
}

#basket{
  font-size:15px;
  background:none;
  border: 0;
  color: white;
}

#paragrafo1{
  font-size:60px;
  font-family: modern;
  padding-top:10%;
  padding-bottom:2%;
  line-height:120%;
  color: white;
}

#lorem{
  font-family:lego;
  font-size:30px;
  color:#999999;
  letter-spacing:2px;
  padding-bottom:2%;
}

#play{
  border-radius:100%;
  height:7vh;
  width:7vh;
  outline: none;
  text-align: center;
  border: 0;
}

#music{
  height:3vh;
  width:3vh;
}

#sec2{
  height: 100%;
  padding: 8% 10%;
  display: inline-flex;
}

#sec2center{
  width:40%;
  border: 0;
  margin: auto;
}

#sec2title{
  font-size:60px;
  font-family: modern;
  line-height:90%;
  margin-bottom: 5vh;
}

.paragraphe{
  color: #999999;
  font-family: lego;
  font-size: 20px;
}

.bottoncontainer{
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background-color:#404040;
  width:15vh;
  margin-top: 5vh;
}

.classicbutton{
  background-color: #404040;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  outline: none;
  width:100%;
  height:100%;
}

#img2{
  width:45%;
  height: auto;
  margin-left:5%;
}

#sec3{
  width:100%;
  display: inline-flex;
  margin: auto;
}

.paragrafo{
  margin-top:10vh;
  padding-right:15%;
}

#sec4{
  padding-top: 3%;
  text-align: center;
}

.header{
  padding:5%;
}

.h1{
font-size:10vh;
font-family: modern;
line-height:90%;
}

#sec4b{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.bottoncontainer2{
  padding:3.5px;
  background-color:#404040;
  width:3.5em;
}

#zoom{
  background-color:#404040;
  color:#f2f2f2;
  border:1px solid #f2f2f2;
  outline: none;
  padding: 5px;
}

.imgbutton{
  margin-bottom:1rem;
}

.fotobici{
  margin:auto;
  text-align: center;
}

.comboimg{
  width:9vw;
  margin-bottom:5%;
}

.each{
  width:9vw;
  margin-bottom:5%;
}

#sec5{
  padding: 8% 10%;
  text-align:center;
}

.paragraphebis{
  color:#999999;
  font-family:lego;
  font-size:20px;
  margin-top:4%;
}

.card{
  width: 320px;
  margin: 16px;
  padding: 8px;

}

.card-deck{
  display: flex;
  flex-direction: row;
}

.bottoncontainer3{
  padding:3.5px;
  background-color:#404040;
  width:17vh;
  margin:auto;
}

#sec6{
  background-image: url("./img/fondo1.jpg");
  background-size: cover;
  text-align: center;
  align-items: center;
}

.middleinfo{
  padding:5%;
  margin:5%;
  background-color: white;
}

#jsp{
  margin-top:7vh;
  display: inline-flex;
}

#email{
  padding:2%;
  background-color: #cccccc;
  border:none;
  width: 100%;
}

.bottoncontainer4{
  padding:3.5px;
  background-color:#404040;
  width:25em;
  height:6.3vh;
  margin: auto;
}

#suscribe{
  background-color:#404040;
  color:#f2f2f2;
  border:1px solid#f2f2f2;
  outline:none;
  width:100%;
  height:100%;
}

#secondsub{
  margin-top: 7vh;
}

.bottoncontainer5{
  padding:3.5px;
  background-color: #404040;
  width:10em;
  height:6.3vh;
}

#lastnav{
  padding-left:3%;
  padding-right:3%;
  margin-left:5%;
  margin-right:5%;
}

@media only screen and (min-width: 1300px){
  #secondsub{
    display: none;
  }
}
@media only screen and (max-width: 1200px){
  #sec2 *{
    display: none;
  }
  #sec3 *{
    display: none;
  }
  #carddeck{
    display: grid;
  }
  #carddeck img{
    width: 30%;
    height: auto;
    margin: auto
  }
  #sec4{
    display: none;
  }
  #formfoot{
    display: none;
  }
  #secondsub{
    display: inline;
  }
}
