@font-face {
  font-family: corsivo;
  src: url("./fonts/corsivo.ttf");
}

@font-face {
  font-family: modern;
  src: url("./fonts/modern.ttf");
}

@font-face {
  font-family: lego;
  src: url("./fonts/lego.otf");
}

@body {
  margin: 0;
  padding: 0;
}

#sec1 {
  padding: 3% 3% 20% 3%;
  background-image: url("./img/fondo1.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

#brand {
  font-family: corsivo;
  font-size: 30px;
  margin-right: 30%
}

.navlink {
  font-size: 15px;
}

#basket {
  font-size: 15px;
  background: none;
  border: 0;
  color: white;
}

#paragrafo1 {
  font-size: 7vh;
  font-family: modern;
  padding-top: 10%;
  padding-bottom: 2%;
  line-height: 120%;
  color: white;
}

#lorem {
  font-family: lego;
  font-size: 3vh;
  color: #999999;
  letter-spacing: 2px;
  padding-bottom: 2%;
}

#play {
  border-radius: 100%;
  width: 7vh;
  border: 0;
  outline: none;
}

#music {
  height: 3vh;
  width: 3vh;
  margin-left: -1vh;
}

.button {
  border: none;
  color: white;
  padding: 2vh 4vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #999999;
  color: white;
}

#sec2 {
  height: 100%;
  padding: 8% 10%;
  display: inline-flex;
}

#sec2center {
  width: 40%;
  border: 0;
  margin: auto;
}

#sec2title {
  font-size: 7vh;
  font-family: modern;
  line-height: 90%;
  margin-bottom: 5vh;
  font-weight: 100;
}

.paragraphe {
  color: #999999;
  font-family: lego;
  font-size: 2.5vh;
}

#italic {
  font-style: italic;
}

.bottoncontainer {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #404040;
  width: 15vh;
  margin-top: 5vh;
}

.classicbutton {
  background-color: #404040;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  outline: none;
  width: 100%;
  padding: 1vh;
}

#img2 {
  width: 45%;
  margin-left: 5%;
}

#sec3 {
  width: 100%;
  display: inline-flex;
  margin: auto;
}

.paragrafo {
  margin-top: 10vh;
  margin-left: 4%;
  padding-right: 9%;
}

#sec4 {
  padding-top: 3%;
  text-align: center;
}

.header {
  padding: 5%;
}

.h1 {
  font-size: 5vh;
  font-family: modern;
  line-height: 90%;
  margin-bottom: 5vh;
  font-weight: 100;
}

#sec4b {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.bottoncontainer2 {
  padding: 3.5px;
  background-color: #404040;
  width: 3.5em;
}

#zoom {
  background-color: #404040;
  color: #f2f2f2;
  border: 1px solid #f2f2f2;
  outline: none;
  padding: 1vh;
}

.imgbutton {
  margin-bottom: 1rem;
  width: 50%;
}

.imgbutton2 {
  width: 50%;
}

.fotobici {
  margin: auto;
  text-align: center;
}

.comboimg {
  width: 9vw;
  margin-bottom: 5%;
}

.each {
  width: 9vw;
  margin-bottom: 5%;
}

#sec5 {
  padding: 5%;
  text-align: center;
}

.paragraphebis {
  color: #999999;
  font-family: lego;
  font-size: 20px;
  margin-top: 4%;
}

.card {
  width: 320px;
  margin: 16px;
  padding: 8px;
}

.card-deck {
  display: flex;
  flex-direction: row;
}

.bottoncontainer3 {
  padding: 3.5px;
  background-color: #404040;
  width: 17vh;
  margin: auto;
}

#sec6 {
  background-image: url("./img/fondo1.jpg");
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.middleinfo {
  padding: 5%;
  margin: 5%;
  background-color: white;
}

#jsp {
  margin-top: 7vh;
  display: inline-flex;
}

#email {
  padding: 2%;
  background-color: #cccccc;
  border: none;
  width: 100%;
}

.bottoncontainer4 {
  padding: 3.5px;
  background-color: #404040;
  width: 25em;
  height: 6.3vh;
  margin: auto;
}

.suscribe {
  background-color: #404040;
  color: #f2f2f2;
  border: 1px solid#f2f2f2;
  outline: none;
  width: 100%;
  height: 100%;
}

#secondsub {
  margin-top: 7vh;
}

.bottoncontainer5 {
  padding: 3.5px;
  background-color: #404040;
  width: 10em;
  height: 6.3vh;
}

.container-flex {
  border-top: 1px solid white;
  width: 75%;
  color: white;
  font-size: 2vh;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  #sec2 {
    flex-direction: column;
    padding: 0;
  }

  #sec2center {
    margin: auto;
    width: 90%;
  }

  #sec2title {
    text-align: center;
  }

  .bottoncontainer {
    margin: auto;
  }

  #img2 {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  #sec3 {
    flex-direction: column;
  }

  #bicycle {
    width: 100%;
    margin: auto;
  }

  .paragraphe, .paragraphebis {
    text-align: left;
  }

  #sec4b {
    flex-direction: column;
  }

  .bottoncontainer2 {
    width: 45%;
    display: inline-flex;
  }

  #zoom {
    display: inline-table;
    flex-direction: row;
    margin: auto;
  }

  .imgbutton {
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: 3vh;
    width: 20%;
  }

  .imgbutton2 {
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-right: 0;
    width: 20%;
  }

  #imgsize {
    width: 100%;
    margin: auto;
  }

  .comboimg {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: auto;
  }

  #sec5 {
    padding: 0;
  }

  .card-deck {
    flex-direction: column;
    width: 100%;
  }

  .card {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #sec6 {
    display: inline-flex;
  }

  .middleinfo {
    display: inline-table;
  }

  .bottoncontainer4 {
    width: auto;
  }

  .middleinfo {
    margin: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
  #sec2 {
    padding: 0;
  }

  #sec2center {
    margin: auto;
    width: 100%;
    padding: 5%;
  }

  #sec2title {
    text-align: center;
  }

  .bottoncontainer {
    margin: auto;
  }

  #img2 {
    width: 50%;
    margin: auto;
  }

  #bicycle {
    width: 50%;
    margin: auto;
  }

  #zoom {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .imgbutton {
    margin-top: 1vh;
    width: 70%;
    margin-left: 0.5vh;
  }

  .imgbutton2 {
    margin-bottom: 1vh;
    margin-top: 1vh;
    width: 70%;
    margin-left: 0.5vh
  }

  #imgsize {
    width: 100%;
    margin: auto;
  }

  .comboimg {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;
  }

  #sec5 {
    padding: 0;
  }

  .card-deck {
    width: 100%;
  }

  .card {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .card-deck {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* topnav */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 2vh;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav-right {
  float: right !important;
}

@media screen and (max-width: 1035px) {
  #brand{
    margin-right: 53%;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
